@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeaderComponentPartial")

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopbarComponentPartial")
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarComponentPartial")
    <!-- Navbar End -->
    <!-- Page Header Start -->
    @await Component.InvokeAsync("_PageTitleComponentPartial")
    <!-- Page Header End -->
    <!-- Fact Start -->
    @await Component.InvokeAsync("_FactsComponentPartial")
    <!-- Fact End -->
    @RenderBody()
    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterComponentPartial")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/HighTechIT-1.0.0/lib/wow/wow.min.js"></script>
    <script src="~/HighTechIT-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/HighTechIT-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/HighTechIT-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/HighTechIT-1.0.0/js/main.js"></script>
</body>

</html>